.contenedor-perfil
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 5em;
}
.mail-contraseña
{
    display: flex;
    flex-direction: column;
}
.imagen-pefil
{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.article-label
{
    text-align: left;
}
.label-carga
{
    padding-left: 5em;
}
.accion-registrar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.usuario-perfil
{
    color: rgb(39, 142, 233);
    font-size: large;
}