.metodos-pago
{
    display: flex;
    flex-direction: column;

}
.contenedor-registrar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../img/fondo-login.jpg");
}
.contenedor-datos-registrar
{
    background-color: rgba(0, 0, 0, 0.61);
    width: 300px;;
    height: 100%;
    align-items: center;
}
.radios
{
    text-align: center;
}
.tarjetas
{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.label-blanco
{
    color: white;
}
.input-pad
{
    margin-left: 2em
}
.cbu
{
    padding-right: 7em;
}

.accion-registrar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}
h2
{
    text-align: center;
}